<div class="area">
    <div class="area-name">
        {{nearest_area.[0].areaName.[0].value}}
    </div>
    <div class="area-region"> 
        {{nearest_area.[0].region.[0].value}} , {{nearest_area.[0].country.[0].value}}
    </div>
</div>