<div class="condition-extra-item">
    <div class="condition-extra-icon img-shadow" >
        <img src="/img/icon/{{img}}.svg" style="rotate:{{#if rotation}}{{rotation}}{{else}}0{{/if}}deg" alt="" srcset="">
    </div>
    <div class="condition-extra-detail">
        <div class="condition-extra-detail-header">{{label}}</div>
        <div class="condition-extra-detail-value">{{> @partial-block }}</div>
    </div>
</div>
