<div class="hour">
    <div class="hour-main">
            <div class="day-date">
                {{Militarytime time 'fr'}}
            </div>
            <div class="temp-c">{{tempC}}℃</div>
        
        <div class="labeled-data">
            <div>T. ressentie</div>
            <div>{{FeelsLikeC}}℃</div>
        </div>
    </div>
    {{>card_weatherIcon weatherIconUrl}}
    {{!-- <div class="weather-desc">
        {{weatherDesc.[0].value}}
    </div> --}}
</div>