<article class="wcard">
    
    {{> _area }}
    {{> _current current_condition.[0]}}
    {{> conditioncss current_condition.[0]}}
    <div class="obs">
        <div class="obs-label">Dernière observation</div>
        <div class="obs-time">{{current_condition.[0].localObsDateTime}} (heure locale)</div>
    </div>

    
</article>