<article class="wcard">
    {{!-- <header>
        <h1>{{nearest_area.[0].areaName.[0].value}}, {{nearest_area.[0].region.[0].value}}, {{nearest_area.[0].country.[0].value}}</h1>
    </header> --}}
    {{!-- {{> (lookup . 'view') }} --}}
    {{> conditioncss current_condition.[0]}}
    <div class="obs">
        <div class="obs-label">Dernière observation</div>
        <div class="obs-time">{{current_condition.[0].localObsDateTime}} (heure locale)</div>
    </div>

    
</article>