<div>
    <div>
        {{avgtempC}}℃
    </div>
    <div>
        <div>Min</div>
        <div>{{mintempC}}℃</div>
    </div>
    <div>
        <div>Max</div>
        <div>{{maxtempC}}℃</div>
    </div>
</div>
        