@import url("card.css");
@import url("current-condition.css");
@import url("condition-extra.css");
@import url("location.css");
/* :root{
    --card_text: white;
} */



  /* ================================================ */
    
    .card-content-row {
        flex-wrap: wrap;
        width: 100%;
        flex-shrink: 0;
        flex:1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow: visible;
    }
    
    .card-content-group {
        width: 100%;
        flex-shrink: 0;
        flex:1;
        /* height: 34px; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow: visible;
        flex-wrap: inherit;
      }
    

    /* ================================================ */